.c1{
    color: aliceblue;
    background-color: black;
}
.c2{
    color: aqua;
    background-color: yellow;
}
.c3{
    color: azure;
    background-color: red;
}
.c4{
    color: blue;
    background-color: rgb(62, 20, 20);
}
.c5{
    color: black;
    background-color: rgb(29, 99, 159);
}